{% extends 'base.html' %}


{% block content %}
<main class="form-signin w-50 m-auto">
	<form method="post">

		{% if error %}
		<div class="alert alert-danger">{{ error }}</div>
		{% endif %}


		<h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
		<div class="form-floating">
			<input type="text" name="username" class="form-control" id="floatingInput">
			<label for="floatingInput">Username</label>
		</div>
		<br>
		<div class="form-floating">
			<input type="password" name="password" class="form-control" id="floatingPassword">
			<label for="floatingPassword">Password</label>
		</div>
		<br>
		<button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>

		<p class="mt-5 mb-3 text-body-secondary">© 2023</p>
	</form>
</main>
{% endblock %}
