{% extends 'base.html' %}


{% block content %}
<main class="form-signin w-50 m-auto">
	<form method="post">

		{% if errors %}
			{%for error in errors%}
				<p class="text-danger m-0">* {{ error }}</p>
			{% endfor%}
		{% endif %}
		<br>

		<h1 class="h3 mb-3 fw-normal text-center">Register</h1>

		<div class="form-floating">
			<input type="text" name="username" class="form-control" id="floatingUsername" value="{{username}}">
			<label for="floatingUsername">Username</label>
		</div>
		<br>
		<div class="form-floating">
			<input type="email" name="email" class="form-control" id="floatingEmail" value="{{email}}">
			<label for="floatingEmail">Email</label>
		</div>
		<br>
		<div class="form-floating">
			<input type="password" name="password1" class="form-control" id="floatingPassword1">
			<label for="floatingPassword1">Password</label>
		</div>
		<br>

		<div class="form-floating">
			<input type="password" name="password2" class="form-control" id="floatingPassword2">
			<label for="floatingPassword2">Password</label>
		</div>
		<br>
		<button class="btn btn-primary w-100 py-2" type="submit">Register</button>

		<p class="mt-5 mb-3 text-body-secondary">© 2023</p>
	</form>
</main>
{% endblock %}
